@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:wght@300;400;700&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Nunito', sans-serif; */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  padding-left: 25px;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
	transition-duration: 0.75s;
}

nav li a {
  color: black;
}

nav li a:hover {
  color: #aaa;
}

a button {
  color: black;
}

@media screen and (max-width: 1150px) {
  nav li a {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 25px 15px 25px;
  background: white;
}

@media screen and (max-width: 750px) {
  .navbar-list a button {
    margin-right: 75px;
  }
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 25%;
}

button {
  padding: 5px 24px;
  background-color: white;
  border-color: black;
  font-size: 14px;
  border-width: thin;
  transition: all 0.4s ease 0s;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
}

main {
  width: 100%;
}

.central-body {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 75px;
  width: 100%;
  animation: fade-in 2s ease-in-out forwards;
}

@media screen and (max-width: 750px) {
  .central-body {
    gap: 0px;
  }
}

.bottom-bar {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  width: 100%;
  background: black;
  color: white;
  padding: 30px 0px 30px 0px;
}

.balloon-image {
  width: 75%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.balloon {
  height: 300px;
  z-index: 10;
  animation: updown 40s ease infinite;
}

.cloud_left {
  position: absolute;
  width: 250px;
  top: 475px;
  right: 50%;
  z-index: 11;
  animation: rightleft linear 90s infinite;
}

.cloud_right {
  position: absolute;
  width: 250px;
  top: 550px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9;
  animation: leftright linear 90s infinite;
}

.sky {
  position: absolute;
  width: 400px;
  z-index: 7;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes updown {
  0% {
      transform: translateY(-50px);
  } 50% {
      transform: translateY(50px);
  } 100% {
      transform: translateY(-50px);
  }
}

@keyframes leftright {
  0% {
      transform: translateX(-30px);
  } 50% {
      transform: translateX(30px);
  } 100% {
      transform: translateX(-30px);
  }
}

@keyframes rightleft {
  0% {
      transform: translateX(60px);
  } 50% {
      transform: translateX(-60px);
  } 100% {
      transform: translateX(60px);
  }
}

@media screen and (max-width: 750px) {
  .ballooon-image {
    height: 100px;
  }

  .balloon {
    height: 200px;
  }
  
  .cloud_left {
    width: 150px;
    top: 325px;
    right: 50%;
  }
  
  .cloud_right {
    width: 150px;
    top: 375px;
  }
  
  .sky {
    width: 250px;
    z-index: 7;
    top: 250px;
  }

  @keyframes updown {
    0% {
        transform: translateY(-25px);
    } 50% {
        transform: translateY(25px);
    } 100% {
        transform: translateY(-25px);
    }
  }
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: #7fbbff;
  padding: 50px 50px 50px 50px;
}

.about-image {
  width: 400px;
}

.about-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 15px 25px 15px 25px;
  max-width: 400px;
}

@media screen and (max-width: 750px) {
  .about {
    padding: 25px 0px 25px 0px;
    margin-bottom: 50px;
  }
  
  .about-image {
    display: none;
  }
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  text-align: left;
}

.project-card {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 30px 30px 30px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.project-image {
  width: 400px;
}

.project-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 25px 25px 25px 25px;
  max-width: 400px;
}

.status {
  padding: 5px;
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
}

.inactive {
  border-color: red;
  color: red;
}

.development {
  border-color: green;
  color: green;
}

@media screen and (max-width: 750px) {
  .project-card p {
    font-size: 12px;
  }
  
  .project-card {
    padding: 25px 0px 0px 0px;
    width: 90%;
  }
  
  .project-image {
    width: 200px;
  }
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
  margin-top: 100px;
  background-color: #ff6f6f;
  padding: 50px 50px 50px 50px;
}

.contact button {
  background-color: #ff6f6f;
}

.contact button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .contact {
    text-align: center;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  } 100% {
      opacity: 1;
  }
}
